@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300&display=swap');
@import url(components/badge/badge.css);
@import url(components/buttons/button.css);
@import url(components/cards/cards.css);
@import url(components/badge/badge.css);
@import url(components/buttons/buttons.css);
@import url(components/alerts/alerts.css);
@import url(components/avatar/avatar.css);
@import url(components/image/image.css);
@import url(components/input/input.css);
:root{
    --primary-color: #0bb32f;
    --secondary-color: #f8962e;
    --primary-text-color: #000000;
    --secondary-text-color: #ffffff;
    --primary-background:#b1edf1;
    --primary-alert-text-color:#2a8bdb;
    --success-background:#84e6c5;
    --success-text-color:#075f16;
    --danger-background:#f0d4d4;
    --danger-text-color:#e01c1c;
    --warning-background:#f3e4c9;
    --warning-text-color:#ffa600;
    --secondary-background:#d2eeeb;
    --secondary-alert-text-color:#473e3e;
    --close-btn:#e01c1c;
}

html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}

h1{
    font-size: 4rem;
}