@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@import url(components/badge/badge.css);
@import url(components/cards/cards.css);
@import url(components/badge/badge.css);
@import url(components/buttons/buttons.css);
@import url(components/alerts/alerts.css);
@import url(components/avatar/avatar.css);
@import url(components/image/image.css);
@import url(components/input/input.css);
@import url(doc.css);
@import url(components/typography/typography.css);
@import url(index.css);
@import url(components/utility/utility.css);
:root{
    --primary-color: #0bb32f;
    --secondary-color: #f8962e;

    --primary-text-color: #000000;
    --secondary-text-color: #ffffff;

    --background-color: #eeeeee;

    --primary-background:#b1edf1;
    --primary-alert-text-color:#2a8bdb;

    --success-background:#84e6c5;
    --success-text-color:#075f16;

    --danger-background:#f0d4d4;
    --danger-text-color:#e01c1c;

    --warning-background:#f3e4c9;
    --warning-text-color:#ffa600;

    --close-btn:#e01c1c;
    --white-border: #ffffff;
}

html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
