.medium-label{
    font-size: 2rem;
}
.primary-input{
    padding: 1rem 1.5rem;
    font-size: 2rem;
    width: fit-content;
    border-radius: 0.9rem;
}
.input-field{
    border: 2px solid black;
    width: 33rem;
}
.input-field input{
    border: none;
    outline: none;
    background-color: transparent;
}
.search-icon{
    border: none;
    background: transparent;
    font-size: 2rem;
    padding: 1rem;
    vertical-align: middle;
}
.search-icon:hover{
    cursor: pointer;
}
.input-icon{
    border: none;
    background: transparent;
    font-size: 2.5rem;
    padding: 1.3rem 1rem;
    width: auto;
    height: auto;
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
}
.input-validation{
    font-size: 1.5rem;
    padding: 0.5rem;
}
.error-msg{
    color: red;
    /* display: none; */
}
.success-msg{
    color: green;
    /* display: none; */
}
.message-icon{
    padding-right: 0.5rem;
}

