.btn{
    border: none;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    border-radius: 0.8rem;
    margin: 0.5rem 0.9rem;
}
.btn-solid-primary{
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
}
.btn-solid-primary:hover{
    background-color: black;
}
.btn-outline-primary{
    background-color: transparent;
    border: 0.3rem solid var(--primary-color);
}
.btn-icon{
    margin: 0;
    margin-right: 0.8rem;
}
.btn-icon-primary{
    color: var(--primary-color);
    background: transparent;
    font-size: 3rem;
}
.btn-icon-text-primary{
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
}
.btn-icon-text-primary:hover{
    background-color: var(--primary-text-color);
}
.btn-disabled{
    opacity: 0.7;
}
.btn-disabled:hover{
    cursor: not-allowed;
}
.link-btn{
    text-decoration: none;
}

/*Toggle-button*/
.switch{
position: relative;
display: inline-block;
width: 6rem;
height: 3.5rem;
}
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ccc;
    transition: .4s;
}
.slider::before{
    position: absolute;
    content: "";
    height: 3.5rem;
    width: 2rem;
    left: 0.5rem;
    bottom: 0. 5rem;
    background-color: white;
    transition: .4s;
}
input:checked + .slider{
    background-color: var(--primary-color);
}
input:focus + .slider{
    box-shadow: 0 0 1px var(--primary-color);
}
input:checked + .slider::before{
    transform: translateX(3rem);
}
.btn-float-action{
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 20px;
}
