.avatar{
    position: relative;
}

.img-round{
    border-radius: 50%;
}

.img-border{
    border: 3px solid var(--white-border)
}
.avatar-lg{
    width: 14rem;
    height: 14rem;
}

.avatar-md{
    width: 11rem;
    height: 11rem;
    font-size: 6rem;
}

.avatar-sm{
    width: 7rem;
    height: 7rem;
    font-size: 4rem;
}

.avatar-xs{
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
}

.avatar-text{
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-square{
    border-radius: 20%;
    border: 3px solid var(--white-border);
}