:root{
    --primary-color: #0bb32f;
    --secondary-color: #f8962e;
    --primary-text-color: #000000;
    --secondary-text-color: #ffffff;
}
html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 4rem;
}
.avatar{
    position: relative;
    margin: 0.8rem;
}
.img-responsive{
    width: 100%;
    height: auto;
}
.img-round{
    border-radius: 50%;
}
.avatar-lg-size{
    width: 15rem;
    height: 15rem;
    font-size: 7rem;
}
.avatar-md-size{
    width: 11rem;
    height: 11rem;
    font-size: 5rem;
}
.avatar-sm-size{
    width: 7rem;
    height: 7rem;
    font-size: 3.5rem;
}
.avatar-xs-size{
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
}
.avatar-text{
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}