<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="avatar.css">
    <link rel="stylesheet" href="style.css">
    <title>Components</title>
</head>
<body>
    <h1>Avatar Components</h1>
    <div class="avatar avatar-lg-size">
        <img class="img-responsive img-round" src="images/avatar.jpg" alt="Avatar">
    </div>
    <div class="avatar avatar-md-size">
        <img class="img-responsive img-round" src="images/avatar.jpg" alt="Avatar">
    </div>
    <div class="avatar avatar-sm-size">
        <img class="img-responsive img-round" src="images/avatar.jpg" alt="Avatar">
    </div>
    <div class="avatar avatar-xs-size">
        <img class="img-responsive img-round" src="images/avatar.jpg" alt="Avatar">
    </div>
    <div class="avatar avatar-lg-size avatar-text img-round" role="img" alt="Avatar">AB</div>
    <div class="avatar avatar-md-size avatar-text img-round" role="img" alt="Avatar">AB</div>
    <div class="avatar avatar-sm-size avatar-text img-round" role="img" alt="Avatar">AB</div>
    <div class="avatar avatar-xs-size avatar-text img-round" role="img" alt="Avatar">AB</div>
    <h1>Alert Components</h1>
    <div class="alert-box alert-primary">
        Primary alert message...!!!
    </div>
    <div class="alert-box alert-secondary">
        Secondary alert message...!!!
    </div>
    <div class="alert-box alert-success">
        <span><i class="fas fa-check-circle"></i></span>
        Success alert message...!!!
    </div>
    <div class="alert-box alert-danger">
        <span><i class="fas fa-exclamation-triangle"></i></span>
        Danger alert message...!!!
    </div>
    <div class="alert-box alert-warning">
        <span><i class="fas fa-exclamation-triangle"></i></span>
        Warning alert message...!!!
    </div>
    <div class="alert-box alert-warning alert-warning-close">
        <span><i class="fas fa-exclamation-triangle"></i></span>
        Warning alert message...!!!
        <button class="btn-close alert-warning-close-btn" onclick="this.parentElement.style.display='none'">&times;</button>
    </div>
</body>
</html>