<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Components</title>
</head>
<body>
    <div class="card-container">
        <div class="card-vertical">
            <div class="card-vertical-image-content">
                <img class="card-vertical-image" src="images/apple.png" alt="Product Image">
                <span class="card-actions-left"><i class="far fa-heart"></i></span>
                <span class="card-actions-right"><i class="fa fa-share-alt"></i></span>
            </div>
            <div class="card-vertical-details">
                <h2>Apple</h2>
                <p>Fresh apples from farm. It is good to eat healthy organically grown fruits</p>
                <h3>Price : Rs.100/kg</h3>
                <div class="card-vertical-buttons">
                    <button class="btn btn-icon-text-primary"><span class="btn-icon"><i class="fa fa-cart-shopping"></i></span>Add to Cart</button>
                </div>  
            </div>
        </div>
    </div>
</body>
</html>