<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="modal.css">
    <link rel="stylesheet" href="../../style.css">
    <title>Modal</title>
</head>
<body>
    <div class="modal">
        <section class="modal-header">
            <p class="subtitle-2 text-bold">Modal header</p>
        </section>
        <section class="modal-body text-2xl">
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
        </section>
        <section class="modal-actions">
            <button class="btn btn-solid-primary">Save</button>
            <button class="btn btn-outline-primary margin-l">Close</button>
        </section>
    </div>
    <button class="show">Show</button>

    <script>
        const sh= document.querySelector(".show");
        const md= document.querySelector(".modal");
        sh.addEventListener('click',()=>{
            md.style.display="block";
            document.body.style.opacity="0.3";
        })
    </script>
</body>
</html>